<td><img src="/images/{{image}}" alt="Order details for {{imgAlt}}"></td>
<td>{{name}}</td>
<td>
  <span class="quantity_modifier">
    <i class="fa fa-minus" aria-label="decrease quantity" tabindex="-1"></i>
  </span>
  <p>{{quantity}}</p>
  <span class="quantity_modifier">
    <i class="fa fa-plus" aria-label="increase quantity" tabindex="-1"></i>
  </span>
</td>
<td>${{formatPrice price}}</td>